html {
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

body {
    background-color: #202020;
    height: 100%;
    width: 100%;
}

h2 {
    color: white;
    font-weight: bold;
}

p {
    color: white;
}

.centering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}